package layout 


templ Base() {
    <html>
        <head>
            <title>My Page</title>
        </head>
        <body>
            This is from the base layout
            { children... }
        </body>
    </html>
}